[submodule "en-vivo-backend"]
	path = en-vivo-backend
	url = git@github.com:federacion-de-codigo-al-vuelo/en-vivo-backend.git
[submodule "en-vivo-frontend"]
	path = en-vivo-frontend
	url = git@github.com:federacion-de-codigo-al-vuelo/en-vivo-frontend.git
